

/* LAYOUT STYLES */
body {
/*
  font-size: 1em;
  line-height: 1.5; 
  background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #6d6d6d;
  */
  color: #555;
}

.container {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	padding: 0 0;
	margin-bottom: 0;
}

.navbar .nav-collapse{
	float: right;
}

.section {
	min-height: 600px;
}

.section-small {
	min-height: 400px;
}

.icon-4 {
	font-size: 7em;
}